body {
	background-color: black;
}

#pixel-pattern-div {
	background-color: white;
	width: 75%;
	margin: auto;
	padding: 10px;
}

/* Vertical y-cell-height control */
/* #draw-range-height {
	display: inline-block;
	transform: rotate(-90deg);
} */

/* Center things */
#pixel-pattern-div, #pixel-pattern-div div {
	text-align: center;
}
/* Color-picker needs white BG for transparency effects to show selected color accurately. */
#chosen-color-wrapper {
	background-color: white;
	display: inline-block;
	border-radius: 6px;
}

canvas {
	width: 29em;
	height: 29em;
	display: inline-block;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	/* image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor; */
}

#drawing-panel {
	background-color: white;
}

#display-panel {
	background-color: white;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}



/* XXX: Temp styling SCRATCH */
#pixel-pattern-div {
	padding-top: 3vh;
	padding-bottom: 5vh;
	background-color: #686868;
	color: white;
}
